.wrapper{
    max-width: 60rem;
    margin: 2rem auto;
    padding: 0 1rem;
    
    display: grid;
    grid-template-columns: 256px 1fr;
    gap: 2rem;
    align-items: flex-start;
}

@media (max-width: 768px){
    html{
        font-size: 0.875rem;
    }
    .wrapper{
        grid-template-columns: 1fr;
    }
}